default: &default
  adapter: postgresql
  encoding: utf8
  min_messages: warning
  timeout: 5000
  url:  "postgres://aact@localhost:5432/aact_proj"

development:
  <<: *default

test:
  <<: *default
  database: aact_back_test

production:
  <<: *default
